{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1>Modification du mot de passe</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-success">Modifier le mot de passe</button>

                    {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
