// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'cardo';
  src: url("../fonts/Cardo/Cardo-Italic.ttf") format('truetype'), url("../fonts/Cardo/Cardo-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype'), url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}

.avatar {
  max-height: 128px;
  max-width: 128px;
  border-radius: 50%;
}

.avatar-medium {
  max-height: 64px;
  max-width: 64px;
}

.avatar-small {
  max-height: 32px;
  max-width: 32px;
}

@import "home";
@import "navbar";