.navbar-custom {

  // font //
  font-family: cardo;
  font-size: calc(1vh + 12px);

  img {
    padding: 0;
    height: 10vh;
    width: auto;
  }

  .navbar {
    height: 15vh;
    padding: 0 8vw 0 8vw;
  }
}